<div class="auth-wrapper">
  <mat-card class="auth-card">
    <mat-card-title class="card-title">Iniciar Sesión</mat-card-title>
    <mat-card-content>
      <!-- Llama a la función TS en el submit -->
      <form class="login-form" (ngSubmit)="onSubmitLogin()">
        
        <!-- Correo Electrónico -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput placeholder="tu.correo@dominio.com" [(ngModel)]="loginData.correo" name="correo" type="email" required>
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="Contraseña" [(ngModel)]="loginData.clave" name="clave" required>
        </mat-form-field>
        
        <!-- Indicador de Error -->
        <div *ngIf="errorLogin" class="error-registro">{{ errorLogin }}</div>

        <button mat-raised-button color="warn" type="submit" class="submit-button" [disabled]="cargando">
          <span *ngIf="!cargando">Iniciar Sesión</span>
          <span *ngIf="cargando">Cargando...</span>
        </button>

      </form>
    </mat-card-content>
    
    <mat-card-actions>
      <!-- Usamos RouterLink para la navegación sin recargar la página -->
      <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate aquí.</a></p>
    </mat-card-actions>
  </mat-card>
</div>